/*css*/
*{
      margin:0;
      padding:0;
      font-gamily: Arial, Hevetica, sans-serif;
      font-size:13pt;
      line-height:2;
      /*color:hsl(0, 18%, 91%);*/
}
img{ 
      width:80%;
      max-width:200px;
      vertical-align:middle;
      border-radius:100%;
}
body{
    background-color: rgb(177, 216, 187);
}

.container{
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(39, 168, 129);
}

